.modal {
    display: none;
    position: fixed;
    /* Stay in place front is invalid - may break your css so removed */
    padding-top: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.modal-body {
    height: 650px;
    overflow-y: auto;
}

.treeView {
    cursor: pointer;
}

.fumNested {
    display: none;
}

.fumActive {
    display: table-row;
    cursor: default;
}

.noTree {
    cursor: default;
}
